@charset "UTF-8";



.tcontents {
	padding: 100px;
}


.tname {
	letter-spacing: 0rem;
	font-size: 4rem;
	line-height: 4rem;
	font-family: 'Noto Serif';
	margin-bottom: 30px;
}

.tcontents > ul {
	font-size: 1.8rem;
	margin-left: 50px;
	margin-top: 20px;
}

.tcontents > ul > li {
	margin-bottom: 20px;
}

.tcontents > ul > li > ul {
	font-size: 1.5rem;
	margin-left: 70px;
	margin-top: 20px;
}

.tcontents > ul > li > ul > li {
	margin-bottom: 10px;
}


@media screen and (max-width:600px) {

	.tcontents {
		padding: 100px 50px 100px;
	}

}

@media screen and (max-width:450px) {

	.tcontents {
		padding: 100px 50px 100px;
	}

	.tcontents > ul {
		margin-left: 30px;
	}

	.tcontents > ul > li > ul {
		margin-left: 20px;
		font-size: 1.5rem;
	}

	.tcontents > ul > li > ul > li {
		margin-bottom: 5px;
	}
	
}